p{
    color:#022b3a;
}
p > a{
    color: #022b3a;
    float:right;
    font-size: 30px;
    padding: 4px 7px;
    text-decoration: underline;
}
a{
   float:left;
   color:white;
   text-align: center;
   padding:14px 16px;
   text-decoration: none;
   font-size: 17px;
   
}
.menuBar{
    background-color: #022b3a;
    overflow:hidden;
}
.menuBar a.active{
    background-color: #1f7a8c;
}
.menuBar a:hover {
    background-color: #Bfdbf7;
    color: black;
}

.mainContent{
    display:flex;
    flex-direction: column;

}
h1{
    font-size: 40px;
    color:#022b3a;
    display: flex;
    justify-content: center;
}
form{
    justify-content: center;
    display: flex;
    flex-direction: column;
    font-size: 35px;

    color: #022b3a
    
}
form >div{
    display:flex;
    justify-content: center;
}
.formButtons{
    display: flex;
    margin-top:10px;

}
.formButtons > input{
    font-size: 30px;
    width: 120px;
    background-color: #022b3a;
    color: white;
}
.formButtons > input:hover{
    background-color:#Bfdbf7;
    color: black;
}