p{
    color:#022b3a;
}
p > a{
    color: #022b3a;
    float:right;
    font-size: 30px;
    padding: 4px 7px; 
    text-decoration: underline;
}
a{
   float:left;
   color:white;
   text-align: center;
   padding:14px 16px; 
   text-decoration: none;
   font-size: 17px;
   font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
   
}
img{
    float:right;
}
.menuBar{
    background-color: #022b3a;
    overflow:hidden;
    height:48px;
}
.menuBar a.active{
    background-color: #1f7a8c;
}
.menuBar a:hover {
    background-color: white;
    color: black;
}
.menuBar a.active:hover{
    background-color: #1f7a8c;
    color: white;
  }
  

.mainContent{
    display:flex;
    flex-direction: column;
    background-color: white;
    margin: 35px 50px;
    height:600px;
    border-radius: 30px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif

}

h1{
    font-size: 40px;
    color:#022b3a;
    display: flex;
    justify-content: center;
}
form{
    justify-content: center;
    display: flex;
    flex-direction: column;
    font-size: 35px;

    color: #022b3a
    
}
form >div{
    display:flex;
    justify-content: center;
}
.formButtons{
    display: flex;
    margin-top:10px;

}
.formButtons > input{
    font-size: 30px;
    width: 120px;
    background-color: #022b3a;
    color: white;
}
.formButtons > input:hover{
    background-color:#Bfdbf7;
    color: black;
}
body{
    /*background-color: #Bfdbf7; */
    background-image: url(../img/background3.png);
    margin:0;
    min-height: 100vh;
    display:flex;
    flex-direction: column;
}
.inputGroup{
    padding-top: 10px;
    padding-bottom: 10px;
}
.helpSection{
    padding-top:40px;
}
input[type="text"],select{
    margin-left:50px;
    border-radius: 5px;
    
    
}
input[type="password"]{
    margin-left:50px;
    border-radius: 5px;
}
footer{
    
    margin-top:auto;
    
    
    color: white;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
footer>p{
    margin-top:200px;
    padding-left:40px; 
    color: white;
    
}
.footergroup{
    background-color: #022b3a;
    display:flex;
    flex-direction:row;
    color: white;
}
.footergroup>p{
    
    color: white;
}
.subgroup{
    float:right;
    display: flex;
    flex-direction: row;
    color:white;
  } 
.subgroup>p{
    color:white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
.subgroup > a{
    font-size: 15px;
    margin-top: 3px;
    text-decoration: underline;
  } 